@import "../App.scss";

.portfolio-container .subheading-container:first-child {
  padding-top: 0;
}

.portfolio-container__filters-container {
  margin: 0 0 2em;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    list-style-type: unset;
    padding: 0;
    margin-top: 0;
    li {
      display: unset;
      font-size: 0.77rem;
      line-height: 1.5;
      padding: 3px 14px;
      opacity: 0.5;
    }
  }
}

.portfolio-container__media-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container__links-container {
  padding-top: 40px;
  .link-container {
    margin-top: 5px;
    line-height: normal;
    a {
      display: inline-block;
      border-bottom: 1px solid #fff;
      opacity: 0.55;
      font-size: 0.88rem;
      &:hover {
        opacity: 1;
        border-color: $secondary-color;
      }
    }
  }
}

.portfolio-container__links-container .link-container:nth-child(2) {
  margin-top: 0;
}

@media only screen and (max-width: 900px) {
  .portfolio-container__filters-container {
    ul {
      justify-content: center;
    }
  }
  .portfolio-container .subheading-container:nth-child(n + 1) {
    margin-top: -20px;
  }
}
