@import "../App.scss";

.portfolio-container__filters-container {
  margin: 0 0 2em;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    list-style-type: unset;
    padding: 0;
    margin-top: 0;
    li {
      display: unset;
      font-size: 0.77rem;
      line-height: 1.5;
      padding: 3px 14px;
      opacity: 0.5;
    }
  }
}

.portfolio-container__media-container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  .portfolio-container__filters-container {
    ul {
      justify-content: center;
    }
  }
}
