@import "../App.scss";

.portfolio-container .subheading-container:first-child {
  padding-top: 0;
}

.portfolio-container__filters-container {
  margin: 0 0 2em;
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    list-style-type: unset;
    padding: 0;
    margin-top: 0;
    li {
      display: unset;
      font-size: 0.77rem;
      line-height: 1.5;
      padding: 3px 14px;
      opacity: 0.5;
    }
  }
}

.portfolio-container__media-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-container__api-container {
  padding-top: 40px;
  .apis-container {
    display: flex;
    flex-wrap: wrap;
  }
  .api-container {
    display: flex;
    align-items: center;
    width: 31.3%;
    margin: 1%;
    line-height: normal;
    a {
      // border-bottom: 1px solid #d5d5d5;
      // opacity: 0.55;
      color: #d5d5d5;
      // &:hover {
      //   // opacity: 1;
      //   // p {
      //   //   // color: $primary-color;
      //   // }
      // }
    }
    // svg {
    //   color: #d5d5d5;
    //   margin-right: 5%;
    //   font-size: 1.2rem;
    //   width: 20px;
    //   opacity: 0.55;
    // }
  }
  .posted-container {
    display: flex;
    align-items: center;
    opacity: 0.55;
    span {
      color: #d5d5d5;
      margin-right: 5px;
      font-size: 0.77rem;
      font-weight: 600;
    }
    p {
      margin: 0;
      font-size: 0.77rem;
    }
  }
}

.portfolio-container__links-container {
  padding-top: 40px;
  .links-container {
    display: flex;
    flex-wrap: wrap;
  }
  .link-container {
    display: flex;
    align-items: center;
    width: 23%;
    margin: 1%;
    line-height: normal;
    a {
      border-bottom: 1px solid #d5d5d5;
      // opacity: 0.55;
      color: #d5d5d5;
      font-size: 0.88rem;
      &:hover {
        opacity: 1;
        border-color: $secondary-color;
      }
    }
    svg {
      color: #d5d5d5;
      margin-right: 5%;
      font-size: 1.2rem;
      width: 20px;
      opacity: 0.55;
    }
  }
  .posted-container {
    display: flex;
    align-items: center;
    opacity: 0.55;
    span {
      color: #d5d5d5;
      margin-right: 5px;
      font-size: 0.77rem;
      font-weight: 600;
    }
    p {
      margin: 0;
      font-size: 0.77rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .portfolio-container__filters-container {
    ul {
      justify-content: center;
    }
  }
  .portfolio-container .portfolio-container__links-container {
    padding-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .portfolio-container__api-container {
    .apis-container {
      .api-container {
        width: 100%;
        margin: 30px 0 0 0;
        &:first-child {
          margin: 10px 0 0 0;
        }
        &:last-child {
          margin: 40px 0 0 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) and (max-width: 1300px) {
  .portfolio-container__links-container {
    .link-container {
      width: 31.3%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-container__links-container {
    .link-container {
      width: 100%;
      margin: 5px 0 0 0;
    }
  }
}
