@import "../App";

.loading-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %body-backgroundcolor;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  z-index: 99999999999;
  opacity: 1;
  top: 0;
}

.loading-screen.-show_page {
  z-index: -9999;
  opacity: 0;
}
