// FONT IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
figure {
  margin: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
// SASS VARIBLES
$body-backgroundcolor: #6700da;
%body-backgroundcolor {
  background: rgb(27, 2, 55);
  background: -moz-linear-gradient(
    0deg,
    rgba(27, 2, 55, 1) 0%,
    rgba(77, 0, 166, 1) 50%,
    rgba(106, 0, 224, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(27, 2, 55, 1) 0%,
    rgba(77, 0, 166, 1) 50%,
    rgba(106, 0, 224, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(27, 2, 55, 1) 0%,
    rgba(77, 0, 166, 1) 50%,
    rgba(106, 0, 224, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b0237",endColorstr="#6a00e0",GradientType=1);
}
$primary-color: #fff;
$secondary-color: #6700da;

// ORIGINAL BLUE - #007ced
// TEXT
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
input,
textarea,
form,
button,
#cookie-message,
.skill-value,
#type-text {
  font-family: "Poppins", Helvetica, sans-serif;
  color: $primary-color;
}

//TITLES
h1 {
  font-weight: 600;
}

// TEXT
p {
  line-height: 1.75em;
  color: #d5d5d5;
  font-size: 0.88rem;
}

p,
span,
li,
a {
  font-weight: 400;
}

html {
  position: relative;
  // height: 100%;
  // min-height: 100%;
  // width: 100%;
  // overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  background-color: $secondary-color;
  @extend %body-backgroundcolor;
}

// LOADING SCREEN
body.loading {
  .loading-screen {
    opacity: 1;
    overflow: hidden;
    z-index: 9999;
  }
}

@media only screen and (min-width: 992px) {
  html {
    height: 100%;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    body {
      height: 100%;
      min-height: 100%;
      background-position: center center;
      background-size: calc(100% + 25px);
      background-repeat: repeat;
      background-attachment: fixed;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
}

.loading-screen {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @extend %body-backgroundcolor;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  z-index: 99999999999;
  opacity: 1;
  top: 0;
}

.loading-screen.-show_page {
  z-index: -9999;
  opacity: 0;
}

// CSS LOADING ICON - RIPPLE EFFECT
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

// @media only screen and (max-width: 900px) {
//   body {
//     margin-top: 57px;
//   }
// }

/* rest of app styles */
#root {
  width: 100%;
  height: auto;
  min-height: 100%;
  vertical-align: middle;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media only screen and (max-width: 767px) {
  #root {
    align-items: unset;
    height: 100%;
  }
}

.page-container {
  background-color: #222;
  width: 100%;
  margin: 3%;
  padding: 40px 70px 60px;
  border-radius: 40px;
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  overflow: hidden;
}

@media only screen and (min-width: 1421px) {
  .page-container {
    max-width: 1320px;
  }
}

@media only screen and (max-width: 900px) {
  .page-container {
    padding: 62px 40px 60px;
    margin: 0;
    border-radius: unset;
  }
}

@media only screen and (max-width: 767px) {
  .page-container {
    margin: 0;
  }
}

.page-scroll {
  width: 100%;
  height: auto;
  min-height: 100%;
  vertical-align: middle;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.page-title-container {
  display: block;
  position: relative;
  background-color: #fdfdfd;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  padding: 65px 70px;
  margin-right: -70px;
  margin-left: -70px;
  margin-bottom: 65px;
  text-align: left;
  background-color: #252525;
  border-top-color: #333;
  border-bottom-color: #333;
  overflow: hidden;
  h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #f5f5f5;
    font-size: 2.8rem;
    font-weight: 600;
  }
  > p {
    color: #777;
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .page-title-container {
    padding: 30px 40px;
    margin-right: -40px;
    margin-left: -40px;
    margin-bottom: 40px;
    h1 {
      font-size: 2.2rem;
      margin-bottom: 0;
    }
  }
}

.website-background {
  position: absolute;
  width: auto;
  height: 100vh;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://lmpixels.com/wp/leven-wp/dark/wp-content/uploads/sites/4/2019/12/main_bg_14.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .website-background {
    display: none;
  }
}

a {
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-primary {
  margin-top: 27px;
  a {
    color: #fff;
    background-color: #333;
    border: 2px solid $secondary-color;
    padding: 0.8em 2.1em;
    margin-bottom: 0;
    line-height: 1.2;
    border-radius: 30px;
    font-size: 0.88rem;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
    display: block;
    max-width: 163px;
    text-align: center;
  }
  &:hover {
    a {
      background-color: $secondary-color;
    }
  }
}

// FOR ONES WITH NO A LINK NESTED INSIDE
.btn-primary-two {
  margin-top: 27px;
  color: #fff;
  background-color: #333;
  border: 2px solid $secondary-color;
  padding: 0.8em 2.1em;
  margin-bottom: 0;
  line-height: 1.2;
  border-radius: 30px;
  font-size: 0.88rem;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
  display: block;
  max-width: 200px;
  text-align: center;
  &:hover {
    background-color: $secondary-color;
    cursor: pointer;
  }
}

/* SCROLLBAR STYLING */
/* width */
body::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: $body-backgroundcolor;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

// PAGE CONTAINERS
.container {
  display: flex;
  margin: 5% 10%;
}

@media only screen and (max-width: 1100px) {
  .container {
    margin: 5% 0;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
